*{
margin:0;
padding:0;
font-family: 'Poppins', sans-serif;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 90%;
}
body{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-size: 500%;
    
    
}
header{
    min-height:100vh;
    width:100%;
    
}
title{
    text-align: left;
    
}


.title h1{

padding-top: 2%;
padding-left: 2%;
font-size: 30px;
font-weight: 900;
font-family: 'Times New Roman', Times, serif;
color: #CF9FFF;
text-align-last: left;
}


nav-links{
    flex:1;
    text-align:right;
    position: relative;
    float: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
    
}
.nav-links ul li a{
    color:black;
    text-decoration: none;
    font-size: 13px;
  
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height:2px;
    background: #CF9FFF;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
width: 80%;

}
.container{
    position:relative;
    width:100vw;
    height:100vh;
    
}
.container video{
    width: 110%;
    height:100%;
    position: relative;
  
    
}
nav{
    display:flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
    float:right;
}
nav img{
    width:150px;
    border-radius: 50px;
    padding-right: 800px;
    padding-left: 30px;
}



.text-box{
    width:90%;
    color:black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    color:#CF9FFF;
 }
 .text-box p{
    margin: 10px 0 30px;
    font-size: 15px;
    color: black;
 }
 .text-box img{
    border-radius: 30px;
 }
 
 .data{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 600px;
    
 }
 .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
 }
 .data-col{
flex-basis: 50%;
background:#fff3f3;
border-radius: 10px;
margin-bottom: 10%;
padding: 20px 20px;
box-sizing: border-box;
 }
.data-col:hover{
box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.course-col{
    width: 30%;
}
.course-col img{
    border-radius: 10px;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.data-cols{
    flex-basis: 50%;
    background:#fff3f3;
    border-radius: 10px;
    margin-bottom: 10%;
    padding: 20px 20px;
    box-sizing: border-box;
     }
     .course-cols{
        width: 30%;
    }
    .course-cols img{
        border-radius:10px ;
    }
    .data-cols:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    }
    .course-cols:hover{
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    }
    .upload{
        width:80%;
        margin:auto;
        text-align: center;
        padding-top: 100px;
    }
    .upload-col{
        flex-basis: 80%;
        border-radius: 10px;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
    }
    .upload p{
        text-align: left;
    }
    .upload img{
        width:100%;
        display: block;
    }
    .layer{
        background-color:transparent;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s;
}
.layer:hover{
    background-color:#fff3f3;
}
.layer h3{
    width:100%;
    font-weight: 500;
    color:black;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;

}
